@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.App-header {
  background-color: #282828;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fbf1c7;
}

.App-Navigation {
  background-color: #282828;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

ul {
  list-style-image: url(./NBA_logo.png);
}
a {
  color: #83a598;
}

a:visited {
  color: #d3869b
}

