html {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
}

html li {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

a {
  text-decoration: underline;
  margin: 0;
  padding: 0;
  text-align: center;
}

a:visited {
  color: blue;
}

